body {
  background: linear-gradient(to right, rgb(203, 102, 119), rgba(14, 158, 100));
}
button {
  padding: 0.5rem;
  margin-left: 3rem;
  font-size: 1rem;
  border-radius: 3px;
  /* color: red; */
}
